body {
  margin: 0;
font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Maitree', serif;
  color: black;
  letter-spacing: 5px;
}

h1 {
	font-size: 50px;
	text-align: center;
}

h2 {
	text-transform: capitalize;
	margin: 10px 0;
	font-size: 35px;
}

h3 {
	font-size: 25px;
	text-decoration: underline;
	text-align: center;
}

h4 {
	font-size: 30px;
	text-transform: capitalize;
	text-align: center;
}

li {
	margin: 5px 0;
}

.text {
	text-align: center;
}
